<% if @issues.present? %>
    <div>
      <table class="table table-bordered issue_list">
        <thead>
        <tr>
          <th>Category</th>
          <th>Language</th>
          <th>Title</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="issue in issues">
          <td>
            {{ issue.category.name }}
          </td>
          <td>
            {{ issue.language.name }}
          </td>
          <td>
            <%#= link_to 'show, '#', 'ng-href' => "issues/{{issue.id}}" %>
            <!--<a href='#/issues/new'> {{issue.title}} </a>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
<% else %>
    <h3>
      There are no Issue yet <%= link_to 'Create one', new_issue_path %>
    </h3>
<% end %>


