<div class="panel-default">
  <div class="panel-heading public-title">
    {{issue.title}}
  </div>
</div>

<ul class="solution-list">
  <li ng-repeat="solution in issue.solutions" id="solution-{{solution.id}}">
   <div class="solution-item">
     <div ng-bind-html="html_safe(solution.description)" class="solution-context"></div>
     <span class="pull-right">
       <i class="fa fa-pencil edit-solution" ng-click="edit_solution(solution.id)"></i>
     </span>
   </div>
  </li>
</ul>
<form>
  <div class="form-group">
    <textarea ng-model="solution.description" class="form-control" id="solution-editor" size="25x15" placeholder="Write your solution"> </textarea>
  </div>
  <button type="submit" ng-click="post_solution()" ng-hide="is_editable" class="btn btn-primary"> Post Your Solution </button>
  <button type="submit" ng-click="update_solution()" ng-show="is_editable" class="btn btn-primary"> Update Your Solution </button>
  <button type="submit" ng-click="edit_cancel()" ng-show="is_editable" class="btn btn-primary"> Cancel Update </button>
</form>