<!--<div class="content">-->
  <!--<div class="col-lg-12 no-padding">-->
    <!--<div class="col-lg-8">-->
      <!--<div class="panel-default">-->
        <!--<div class="panel-heading public-title">-->
          <!--Listing Issues-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="main-view-container"></div>-->
      <!--<%#= render :partial => 'issue_list' %>-->
    <!--</div>-->
    <!--<div class="col-lg-4">-->
      <!--<%#= render 'shared/filter' %>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


