<h1 class="page-top-title">Welcome to Per Solution</h1>
<div class="signup_login">
  <div class="signup panel panel-default">
    <div class="panel-heading">Signup
    </div>
    <div class="panel-body"><%= render :partial => 'devise/sessions/signin_form' %>
    </div>
  </div>
  <div class="or_div">
    <div class="mid_circle">OR</div>
  </div>
  <div class="login panel panel-default">
    <div class="panel-heading">Login
    </div>
    <div class="panel-body"> <%= render :partial => 'devise/sessions/new' %>
    </div>

  </div>
</div>