// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.solution-list {
  margin: 0;
  padding: 0;
  li {
    padding-top: 10px;
  }
}

.edit-solution {
  cursor: pointer;
}